@font-face {
  font-family: gill_bold;
  src: url(../fonts/gillSans_bold.TTF);
}

@font-face {
  font-family: gill_italic;
  src: url(../fonts/gillSans_italic.TTF);
}
/* thank you site */
.thanyou_grid_container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    "pirat piratin"
    "danke_h1 danke_h1"
    "danke_p danke_p"
    "melden_p melden_p";
}
.melden_p {
  grid-area: melden_p;
  text-align: center;
}
.danke_p {
  grid-area: danke_p;

  text-align: center;
}
.danke_h1 {
  grid-column: 1 / span 2;
  font-size: 3rem;
  align-self: center;
  justify-self: center;
}
/* error site */
.error_center {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.error_pirat {
  grid-column: 1;
}
.error_piratin {
  grid-column: 4;
}
.error_txt_nochmal {
  grid-column: 2;
}
.error_pirat,
.error_piratin {
  width: 50%;
}

/* main site  */
body {
  margin: 0;
  width: auto;
  overflow-wrap: break-word;
}
p {
  font-size: 1.1rem;
  font-family: gill_italic, Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  margin: 0.6rem 0.4rem 0.6rem 0.6rem;
}
label,
input {
  font: inherit;
}
input {
  letter-spacing: 0.07rem;
}
h1 {
  font-family: gill_bold, Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  margin: 0.1rem;
}
h2 {
  font-family: gill_bold, Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

input.larger {
  width: 30px;
  height: 30px;
}

.margin {
  margin: 1rem;
}
.errors {
  color: #fffbd8;
  text-align: center;
  background-color: #7e3c86;
  padding: 0.2rem;
}

div {
  background-color: #fffbd8;
  color: #1e2245;
}

body,
button {
  background-color: #7e3c86;
  color: #fffbd8;
  font-family: gill_bold;
}

.flex {
  display: flex;
}

img {
  display: inline-block;
  max-width: 50%;
  height: auto;
}

.grid_container__intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.25fr;
  grid-template-areas:
    "headline headline "
    "pirat piratin "
    "intro__text intro__text ";
}

.pirat {
  grid-area: pirat;
  display: flex;
  justify-self: end;
  max-width: 55%;
  padding-top: 0.7rem;
}
.piratin {
  grid-area: piratin;
  padding-top: 0.7rem;
}
.headline {
  grid-area: headline;
  text-align: center;
  padding-top: 0.7rem;
}

.intro__text {
  grid-area: intro__text;
  place-self: center;
}
a:link {
  color: #4c3f8a;
}

/* ////////////////! */

.grid_container__form {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 0.75fr 0.75fr 0.75fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
  justify-content: center;

  grid-template-areas:
    "subheadline_2 subheadline_2"
    "filme filme"
    "filme filme"
    "filme filme"
    "subheadline_3 subheadline_3"
    "lieblingsfilm__input lieblingsfilm__input"
    "text text"
    "name__label name__input"
    "email__label email__input"
    "datenweiter__text datenweiter__text"
    "datenschutz__input datenschutz__label"
    "abschicken__button abschicken__button";
}

.datenweiter__text {
  grid-area: datenweiter__text;
  place-self: center;
}
.datenschutz__input {
  grid-area: datenschutz__input;
  margin-right: 1rem;
  place-self: center;
  justify-self: end;
}
.datenschutz__label {
  grid-area: datenschutz__label;
  align-self: center;
  justify-self: start;
}
.datenschutz__input,
.datenschutz__label {
  position: relative;
  right: 3rem;
}
.text {
  grid-area: text;
}
.name__label {
  grid-area: name__label;
  margin: 0.6rem 0.4rem 0.6rem 0.6rem;
  align-self: center;
}

.name__input {
  grid-area: name__input;
  align-self: center;
  justify-self: start;
  margin-right: 1rem;
}

.email__label {
  margin: 0.6rem 0.4rem 0.6rem 0.6rem;
  grid-area: email__label;
  align-self: center;
}

.email__input {
  grid-area: email__input;
  align-self: center;
  justify-self: start;
  margin-right: 1rem;
}
#txtbox__smaller {
  font-size: 1.3rem;
  height: 42px;
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
}
.subheadline_2 {
  grid-area: subheadline_2;

  text-align: center;
}
.subheadline_3 {
  grid-area: subheadline_3;
  text-align: center;
}
.filme {
  grid-area: filme;
  display: grid;
  /* grid-auto-columns: 1fr; */
  grid-auto-flow: row;
  grid-template-columns: 0.25fr 1.25fr;
  grid-template-areas:
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label";
}

.subgrid__label {
  /* grid-area: subgrid__label; */
  align-self: center;
  margin-left: .3rem;
}
.subgrid__input {
  /* grid-area: subgrid__input; */
  margin-left: 2rem;
  place-self: center;
  justify-self: end;
}

.lieblingsfilm__input {
  grid-area: lieblingsfilm__input;
  place-self: center;
  max-width: 90%;
}

.abschicken__button {
  grid-area: abschicken__button;
  place-self: center;
}
.button {
  margin: 0.8rem 1.5rem 0.5rem 0.5rem;
  padding: 1.5rem;
  border-radius: 15px 50px;
}
.grid_container__links {
  display: grid;
  max-width: max-content;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  grid-template-areas:
    "filmkorte__link filmkorteSocial__icons"
    "logoArea logoArea"
    "logoArea logoArea"
    "logoArea logoArea";
}
.filmkorte__link {
  grid-area: filmkorte__link;
  position: relative;
  left: 1.3rem;
  width: 100%;
  background-color: transparent;
  place-self: center;
}
.filmkorteSocial__icons {
  grid-area: filmkorteSocial__icons;
  position: relative;

  place-self: center;
  width: 50%;
}
.filmkorteFB__icon_1 {
  position: relative;
  left: 0.5rem;
  max-width: 40%;
  background-color: transparent;
}

.filmkorteInsta_icon_2 {
  position: relative;
  top: 0.1rem;
  left: 1em;
  max-width: 44%;
}

.logoArea > div,
.textLogos {
  background-color: transparent;
  display: flex;
  flex-direction: column;

  place-items: center;
  align-items: center;
  margin-bottom: 2rem;
}

.logoArea {
  grid-area: logoArea;
  border: 5px solid #7e3c86;
  margin: 2rem;
}
@media screen and (min-width: 400px) {
  h1 {
    font-size: 3.3rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 500px) {
  img {
    max-width: 71%;
  }
  h2 {
    font-size: 4.5vw;
  }

  .grid_container__intro {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "pirat headline headline piratin"
      "pirat intro__text intro__text piratin";
    justify-content: center;
    grid-template-rows: 0.75fr 0.25fr;
  }
  .headline {
    grid-column: 1 / span 4;
    justify-self: center;
    place-self: center;
  }
  .pirat,
  .piratin {
    margin-left: 1rem;
    align-self: end;
  }
  .intro__text {
    text-align: center;
  }
  .pirat {
    max-width: 80%;
  }
  .grid_container__form {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
    justify-content: center;
    grid-template-areas:
      "subheadline_2 subheadline_2 subheadline_2 "
      "filme filme filme "
      "subheadline_3 subheadline_3 subheadline_3 "
      "lieblingsfilm__input lieblingsfilm__input lieblingsfilm__input"
      "text text text"
      "name__label name__input  name__input"
      "email__label email__input email__input"
      "datenweiter__text datenweiter__text datenweiter__text"
      "datenschutz__input datenschutz__label datenschutz__label"
      "abschicken__button  abschicken__button  abschicken__button";
  }
  #txtbox__smaller {
    width: 54vw;
  }
  .subheadline_2,
  .subheadline_3 {
    font-size: 1vw;
  }
  .lieblingsfilm__input {
    grid-area: lieblingsfilm__input;
  }

  .text {
    grid-area: text;
    align-self: center;
    text-align: center;
  }

  .name__input {
    grid-column-end: 2;
  }
  .datenschutz__input {
    margin-right: 1rem;
    place-self: center;
    justify-self: end;
  }
  .datenschutz__label {
    align-self: center;
    justify-self: start;
  }
  .filme {
    grid-area: filme;
    grid-template-columns: 0.25fr 1.25fr 0.25fr 1.25fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label";
  }
  .subgrid__input {
    margin-right: 0.6rem;
  }
  .subgrid__label {
    margin-left: 0.3rem;
  }

  .textLogos {
    grid-column-start: 2;
  }
  .logo {
    max-width: 80%;
  }
  .filmkorteFB__icon_1 {
    left: 2.2rem;
  
  }

  .filmkorteInsta_icon_2 {
    left: 4rem;
  
    top: 0.09rem;
  }
}
@media screen and (min-width: 650px) {
  .grid_container__links {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    grid-template-areas:
      "filmkorte__link . filmkorteSocial__icons"
      "textLogos textLogos textLogos";
  }
  .logoArea {
    grid-area: textLogos;
    display: grid;
  }
  .textLogos {
    grid-column: 1 / span 2;
  }
  .filmkorteSocial__icons,
  .filmkorte__link {
    place-self: inherit;
  }
  .placeCenter {
    align-self: center;
  }
  .filmkorte__link {
    /* align-self: flex-end; */
    justify-self: end;left: 3.3rem;
  }
  p {
    font-size: 1.2rem;
  }
  label,
  input {
    font-size: 1rem;
  }
}

@media screen and (min-width: 750px) {
  h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 900px) {
  label {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1250px) {
  .logo {
    max-width: 40%;
  }
  .pirat,
  .piratin {
    width: 60%;
  }
  .email__label {
    display: ruby;
  }
}

@media screen and (min-width: 2000px) {
  .pirat,
  .piratin {
    width: 50%;
  }
}
