@font-face {
  font-family: gill_bold;
  src: url(../fonts/gillSans_bold.TTF);
}

@font-face {
  font-family: gill_italic;
  src: url(../fonts/gillSans_italic.TTF);
}

body {
  margin: 0;
  width: auto;
  overflow-wrap: break-word;
  overflow-x: hidden;
}
p {
  font-size: 1.3em;
  font-family: gill_italic;
  line-height: 1.2em;
}
label {
  font-size: 1.2em;
}
h1 {
  font-family: gill_bold;
  font-size: 3.2rem;
}
h2 {
  font-family: gill_bold;
  /* font-size: 1.3em; */
}

input.larger {
  width: 30px;
  height: 30px;
}

.margin {
  margin: 1em;
}
.errors {
  color: #fffbd8;
  text-align: center;
  background-color: #7e3c86;
  padding: 2 2 3 2;
}

div {
  background-color: #fffbd8;
  color: #1e2245;
}

body,
button {
  background-color: #7e3c86;
  color: #fffbd8;
  font-family: gill_bold;
  /* margin-left: 1em;
  margin-right: 1em;
  width: 90%; */
}
.flex {
  display: flex;
}

img {
  display: inline-block;
  max-width: 50%;
  height: auto;
}

.grid_container__intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-template-areas:
    "headline headline "
    "pirat piratin "
    "intro__text intro__text ";
}

.pirat {
  grid-area: pirat;
  display: flex;
  justify-self: end;
  /* margin-left: 1em; */
  /* align-self: end; */
}
.piratin {
  grid-area: piratin;
}
.headline {
  grid-area: headline;
  text-align: center;
}

.intro__text {
  grid-area: intro__text;
  place-self: center;
}

/* ////////////////! */

.grid_container__form {
  display: grid;
  max-width: max-content;
  grid-auto-flow: row;
  grid-template-columns: 0.47fr 1fr;
  grid-template-rows: 0.25fr 0.75fr 0.75fr 0.75fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;

  grid-template-areas:
    "subheadline_2 subheadline_2"
    "filme filme"
    "filme filme"
    "filme filme"
    "subheadline_3 subheadline_3"
    "lieblingsfilm__input lieblingsfilm__input"
    "text text"
    "name__label name__input"
    "email__label email__input"
    "datenweiter__text datenweiter__text"
    "datenschutz__input datenschutz__label"
    "abschicken__button abschicken__button";
}

.datenweiter__text {
  grid-area: datenweiter__text;
  place-self: center;
}
.datenschutz__input {
  grid-area: datenschutz__input;
  margin-right: 1em;
  place-self: center;
  justify-self: center;
}
.datenschutz__label {
  grid-area: datenschutz__label;
  align-self: center;
  position: relative;
  right: 3em;
}
.smallerFontLabel {
  font-size: 1em;
}
.text {
  grid-area: text;
}
.name__label {
  grid-area: name__label;
}

.name__input {
  grid-area: name__input;
}

.email__label {
  grid-area: email__label;
  justify-self: end;
}

.email__input {
  grid-area: email__input;
}
#txtbox__smaller {
  font-size: 18pt;
  height: 42px;
  width: 40vw;
}
.subheadline_2 {
  /* justify-self: center; */
  grid-area: subheadline_2;
  place-self: center;
  /* margin: 0 0.1em 0 0.8em; */
  /* width: 60%; */
  font-size: 3vw;
}
.subheadline_3 {
  grid-area: subheadline_3;
  place-self: center;
  /* justify-self: center; */
  font-size: 3vw;
}
.filme {
  grid-area: filme;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-columns: 0.5fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-areas:
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label"
    "subgrid__input subgrid__label";
  /* width: max-content; */
}

.subgrid__label {
  /* grid-area: subgrid__label; */
  align-self: center; margin-left: 1em;
 
}
.subgrid__input {
  /* grid-area: subgrid__input; */
  margin-left: 2em;
  place-self: center;
  justify-self: end;
}

.lieblingsfilm__input {
  grid-area: lieblingsfilm__input;
  place-self: center;
  max-width: 90%;
}
#txtbox {
  font-size: 18pt;
  height: 42px;
  width: 300px;
}
.abschicken__button {
  grid-area: abschicken__button;
  place-self: center;
}
.button {
  margin: 0.8em 1.5em 0.5em 0.5em;
  padding: 1.5em;
  border-radius: 15px 50px;
}
.grid_container__links {
  display: grid;
  max-width: max-content;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  grid-template-areas:
    "filmkorte__link filmkorteSocial__icons"
    "logoArea logoArea"
    "logoArea logoArea"
    "logoArea logoArea";
}
.filmkorte__link {
  grid-area: filmkorte__link;
  position: relative;
  left: 1.3em;
  background-color: transparent;
  place-self: center;
}
.filmkorteSocial__icons {
  grid-area: filmkorteSocial__icons;
  position: relative;
  left: 1.3em;
  place-self: center;
}
.filmkorteFB__icon_1 {
  position: relative;
  left: .5em;
  max-width: 20%;
  background-color: transparent;
}

.filmkorteInsta_icon_2 {
  position: relative;
  top: .3em;
  left: 1em;
  max-width: 24%;
  /* place-self: end; */
}

.logoArea > div,
.textLogos {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  place-items: center;
  align-items: center;
  /* justify-self: center; */
}

.logoArea {
  grid-area: logoArea;
}

.filmkorteLogo {
  margin-top: 0.5em;
}
.hsLogo {
  margin: 0.5em;
}
.gurkenLogo {
  margin: 0.5em;
}
.shInnenLogo {
  margin: 0.5em;
}

@media screen and (min-width: 500px) {
  img {
    max-width: 71%;
  }
  h2 {
    font-size: 4.5vw;
  }
  label {
    font-size: 0.9em;
  }
  .grid_container__intro {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "pirat headline headline piratin"
      "pirat intro__text intro__text piratin";
    justify-content: center;
  }
  .pirat,
  .piratin {
    margin-left: 1em;
    align-self: end;
  }
  .grid_container__form {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
    justify-content: center;
    grid-template-areas:
      "subheadline_2 subheadline_2 subheadline_2 "
      "filme filme filme "
      "subheadline_3 subheadline_3 subheadline_3 "
      "lieblingsfilm__input lieblingsfilm__input lieblingsfilm__input"
      "text text text"
      "name__label name__input  name__input"
      "email__label email__input email__input"
      "datenweiter__text datenweiter__text datenweiter__text"
      "datenschutz__input datenschutz__label datenschutz__label"
      "abschicken__button  abschicken__button  abschicken__button";
  }

  .subheadline_2,
  .subheadline_3 {
    font-size: 1vw;
  }
  .lieblingsfilm__input {
    grid-area: lieblingsfilm__input;
  }
  .logoArea {
    display: flex;
  }
  .logo {
    max-width: 20%;
  }
  .hslogo {
    max-width: 40%;
  }
  .text {
    grid-area: text;
    align-self: center;
    text-align: center;
  }
  .name__label {
    justify-self: end;
  }
  .name__input {
    grid-column-end: 2;
  }

  .filme {
    grid-area: filme;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
    grid-template-areas:
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label subgrid__input subgrid__label"
      "subgrid__input subgrid__label";
  }
  .subgrid__input {
    margin-right: 0.6em;
  }
  .grid_container__links {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1f;
    justify-content: center;
    grid-template-areas:
      "filmkorte__link filmkorteSocial__icons filmkorteSocial__icons"
      "textLogos textLogos textLogos"
      "logoArea logoArea logoArea"
      "logoArea logoArea logoArea";
  }
  .textLogos {
    grid-column-start: 2;
  }
  .logo {
    max-width: 60%;
  }
  .filmkorteFB__icon_1 {
    /* place-self: center; */
    position: relative;
    left: 2.2em;
    max-width: 10%;
    background-color: transparent;
    /* place-self: start; */
  }

  .filmkorteInsta_icon_2 {
    /* place-self: center; */
    position: relative;
    top: 1em;
    max-width: 12%;
    place-self: center;
  }
  .filmkorteLogo,
  .hslogo {
    max-width: 80%;
  }
}
